@model UrlShortener

<form asp-controller="Home" data-ajax-method="post" data-ajax="true" data-ajax-update="#new-url-container" data-ajax-mode="replace">
    <div class="form-row align-items-center">
        <div class="col-sm-10">
            <input asp-for="RawUrl"  class="form-control" placeholder="Insert your URL. e.g. http://mylonglink.com" class="form-control-plaintext" />
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Short it!</button>
        </div>
    </div>
    @if(!string.IsNullOrWhiteSpace(Model?.ShortUrl))
    {
        <div class="form-row align-items-center">
            <div class="col-sm-12 short-url-container">
                <h2>share: <a href="@Model.ShortUrl" class="short-url">@Model.ShortUrl</a></h2>
            </div>
        </div>
    }         
</form>