@model UrlShortener

@{
    ViewData["Title"] = "/s/";
}

 <div class="main-container clearfix">
   <div class="main-container clearfix" id="new-url-container">
        @Html.Partial("_UrlShortener")
    </div>
</div>