@{
    ViewData["Title"] = "/s/";
}

 <div class="main-container clearfix">
   <div class="main-container clearfix" id="new-url-container">
        <h1>@ViewBag.Url</h1>
        @Html.Partial("_UrlShortener")
    </div>
</div>